.popup_is-opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0.2s cubic-bezier(.41,.05,.53,.89), opacity 0.4s cubic-bezier(.41,.05,.53,.89);
}
